@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2? family= Anek+Telugu:wght@100;200;300;400;500;600;700;800 & display=swap');
@font-face {
    font-family: ;
    src: url();
}
@font-face {
    font-family: ;
    src: url();
}
:root{
    --font1: ;

}
body{
    background-image: linear-gradient(45deg, #F28F3B, #a14938, #c53f24);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
main{
    width: 320px;
    height: 568px;
    background-color: white;
    margin-top: 20px;
    border-radius: 16px;
    border: 2px solid black;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.397);
}

